@import "./styles/material/material-theme-builder-css-export/css/dark.css";
@import "./styles/cmt-tokens.css";
@import "./styles/cmt-typescale.css";

:root {
  font-family: system-ui, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  margin: 0;
}

button,
input,
textarea,
select {
  font: inherit;
}
